<header class="p-3 ">
  <div class="container">
    <img width="120" src="../assets/padua-logo-gpst.svg" />
  </div>
</header>

<div class="container form-container">



  <form #calculatorForm="ngForm" class="mt-4 col-sm-12" (ngSubmit)="calculate()">
    <div class="mb-3 row">
      <!--Salary-->
      <div class="col-sm-3 col-md-3 col-12">
        <label class="col-sm-12 col-md-12 col-12 col-form-label">Salary ($)</label>
        <div class="col-sm-12 col-md-12 col-12">
          <input id="name" type="text" pattern="^\d*(\.\d{0,2})?$" class="form-control" name="salary" placeholder="Salary" [(ngModel)]="capitalBalanceInput.Salary" [ngClass]="{ 'is-invalid': salary.errors && (salary.touched || submitted) }" autocomplete="off" #salary="ngModel" required>
          <div *ngIf="salary.invalid && (submitted || salary.dirty || salary.touched)" class="invalid-feedback ">
            <span *ngIf="salary.errors?.required">Salary is required.</span>
            <span *ngIf="!salary.errors.required  && salary.dirty">Invalid amount</span>
          </div>
        </div>
      </div>
      <!--Contribution Rate-->
      <div class="col-sm-3 col-md-3 col-12">
        <label class="col-sm-12 col-md-12 col-12 col-form-label">Contribution Rate (%)</label>
        <div class="col-sm-12 col-md-12 col-12">
          <input id="name" type="text" pattern="^\d*(\.\d{0,2})?$" class="form-control" name="contributionRate" placeholder="Contribution Rate" [(ngModel)]="capitalBalanceInput.ContributionRate" [ngClass]="{ 'is-invalid': contributionRate.errors && (contributionRate.touched || submitted) }" autocomplete="off" #contributionRate="ngModel" required>
          <div *ngIf="contributionRate.invalid && (submitted || contributionRate.dirty || contributionRate.touched)" class="invalid-feedback ">
            <span *ngIf="contributionRate.errors?.required">Contribution Rate is required.</span>
            <span *ngIf="!contributionRate.errors.required  && contributionRate.dirty">Invalid Contribution Rate</span>
          </div>
        </div>
      </div>

      <!--Inflation Rate-->
      <div class="col-sm-3 col-md-3 col-12">
        <label class="col-sm-12 col-md-12 col-12 col-form-label">Inflation Rate (%)</label>
        <div class="col-sm-12 col-md-12 col-12">
          <input id="name" type="text" pattern="^\d*(\.\d{0,2})?$" class="form-control" name="inflationRate" placeholder="Inflation Rate" [(ngModel)]="capitalBalanceInput.InflationRate" [ngClass]="{ 'is-invalid': inflationRate.errors && (inflationRate.touched || submitted) }" autocomplete="off" #inflationRate="ngModel" required>
          <div *ngIf="inflationRate.invalid && (submitted || inflationRate.dirty || inflationRate.touched)" class="invalid-feedback ">
            <span *ngIf="inflationRate.errors?.required">Inflation Rate is required.</span>
            <span *ngIf="!inflationRate.errors.required  && inflationRate.dirty">Invalid Inflation Rate</span>
          </div>
        </div>
      </div>
      <div class="col-sm-3 col-md-3 col-12">
        <!--Earnings-->
        <label class="col-sm-12 col-md-12 col-12 col-form-label">Earnings (%)</label>
        <div class="col-sm-12 col-md-12 col-12">
          <input id="name" type="text" pattern="^\d*(\.\d{0,2})?$" class="form-control" name="earnings" placeholder="Earnings" [(ngModel)]="capitalBalanceInput.Earnings" [ngClass]="{ 'is-invalid': earnings.errors && (earnings.touched || submitted) }" autocomplete="off" #earnings="ngModel" required>
          <div *ngIf="earnings.invalid && (submitted || earnings.dirty || earnings.touched)" class="invalid-feedback ">
            <span *ngIf="earnings.errors?.required">Earnings is required.</span>
            <span *ngIf="!earnings.errors.required  && earnings.dirty">Invalid Earnings</span>
          </div>
        </div>
      </div>
    </div>
    <div class="mb-3 row">
      <!--Fees-->
      <div class="col-sm-3 col-md-3 col-12">
        <label class="col-sm-12 col-md-12 col-12 col-form-label">Fees (%)</label>
        <div class="col-sm-12 col-md-12 col-12">
          <input id="name" type="text" pattern="^\d*(\.\d{0,2})?$" class="form-control" name="fees" placeholder="Fees" [(ngModel)]="capitalBalanceInput.Fees" [ngClass]="{ 'is-invalid': fees.errors && (fees.touched || submitted) }" autocomplete="off" #fees="ngModel" required>
          <div *ngIf="fees.invalid && (submitted || fees.dirty || fees.touched)" class="invalid-feedback ">
            <span *ngIf="fees.errors?.required">Fees is required.</span>
            <span *ngIf="!fees.errors.required  && fees.dirty">Invalid Fees</span>
          </div>
        </div>
      </div>
      <!--Tax-->
      <div class="col-sm-3 col-md-3 col-12">
        <label class="col-sm-12 col-md-12 col-12 col-form-label">Tax (%)</label>
        <div class="col-sm-12 col-md-12 col-12">
          <input id="name" type="text" pattern="^\d*(\.\d{0,2})?$" class="form-control" name="tax" placeholder="Tax" [(ngModel)]="capitalBalanceInput.Tax" [ngClass]="{ 'is-invalid': tax.errors && (tax.touched || submitted) }" autocomplete="off" #tax="ngModel" required>
          <div *ngIf="tax.invalid && (submitted || tax.dirty || tax.touched)" class="invalid-feedback ">
            <span *ngIf="tax.errors?.required">Tax is required.</span>
            <span *ngIf="!tax.errors.required  && tax.dirty">Invalid Tax</span>
          </div>
        </div>
      </div>
      <!--Withdrawal Rate-->
      <div class="col-sm-3 col-md-3 col-12">
        <label class="col-sm-12 col-md-12 col-12 col-form-label">Withdrawal Rate (%)</label>
        <div class="col-sm-12 col-md-12 col-12">
          <input id="name" type="text" pattern="^\d*(\.\d{0,2})?$" class="form-control" name="withdrawalRate" placeholder="Withdrawal Rate" [(ngModel)]="capitalBalanceInput.WithdrawalRate" [ngClass]="{ 'is-invalid': withdrawalRate.errors && (withdrawalRate.touched || submitted) }" autocomplete="off" #withdrawalRate="ngModel" required>
          <div *ngIf="withdrawalRate.invalid && (submitted || withdrawalRate.dirty || withdrawalRate.touched)" class="invalid-feedback ">
            <span *ngIf="withdrawalRate.errors?.required">Withdrawal Rate is required.</span>
            <span *ngIf="!withdrawalRate.errors.required  && withdrawalRate.dirty">Invalid Withdrawal Rate</span>
          </div>
        </div>
      </div>
      <!--Withdrawal Starts-->
      <div class="col-sm-3 col-md-3 col-12">
        <label class="col-sm-12 col-md-12 col-12 col-form-label">Withdrawal Starts Age (> 45)</label>
        <div class="col-sm-12 col-md-12 col-12">
          <input id="name" type="text" pattern="^\d*(\.\d{0,2})?$" class="form-control" name="withdrawalStarts" placeholder="Withdrawal Starts" [(ngModel)]="capitalBalanceInput.WithdrawalStarts" [ngClass]="{ 'is-invalid': withdrawalStarts.errors && (withdrawalStarts.touched || submitted) }" autocomplete="off" #withdrawalStarts="ngModel" required gteValidator>
          <div *ngIf="withdrawalStarts.invalid && (submitted || withdrawalStarts.dirty || withdrawalStarts.touched)" class="invalid-feedback ">
            <span *ngIf="withdrawalStarts.errors?.required">Withdrawal Starts is required.</span>
            
            <div *ngIf="withdrawalStarts.errors.gte">
              The number should be greater than {{withdrawalStarts.errors.requiredValue}} less than {{withdrawalStarts.errors.maxValue}}
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="d-flex flex-row-reverse ">
      <button type="submit" class="btn btn-primary">Calculate</button>
      <button type="button" class="btn" (click)="reset()">Reset</button>
    </div>
  </form>
  <h4 class="mt-4" *ngIf="capitalBalanceOutput">{{title}}</h4>
  <app-table-view [capitalBalanceOutput]="capitalBalanceOutput"></app-table-view>
  <app-line-chart [capitalBalanceOutput]="capitalBalanceOutput"></app-line-chart>
</div>




<router-outlet></router-outlet>
